<main class="flex-shrink-0 text-dark">
    <section class="px-0">
    <div class="container px-0">
        
            <div class="row">
                <div class="col-xl-12">
                    <div class="bg-image fadeherohome">
                     <div class="hero-overlay">
                        <h1 class="mb-2">Dashboard UI/UX Solution</h1>
                        <h3>Publisher, agency, brand and ad campaign <br>management dashboard solution.</h3>
                        <p class="text-white mb-0">Can you see me?</p>
                    
                    </div>
                    <img
                      src="img/fadeherohome.jpg"
                      class="img-fluid"
                      alt="Sample"
                    />
                    
                     
                  </div>
                </div>
                
    -<div class="col-9">
        <div class="fadeherohome">
                        <div class="hero-overlay mask">
                            <h1 class="mb-2">Dashboard UI/UX Solution</h1>
                        <h3>Publisher, agency, brand and ad campaign <br>management dashboard solution.</h3>
                        </div>
            </div>			
        </div>
    <div class="col">
    
    </div>
            </div>
    <div class="bg-image">
        <img src="img/fadeherohome.jpg"	class="img-fluid">
    </div>				
    
        
        </div>-->
    </section>
    
    <section>
            <div class="container-md px-0 mt-3">
                <div class="row">
                    
                        <div class="col-md-4">
                            <h5 class="mt-4">Overview</h5>               
                    <p>Fade Technology solutions needs a dashboard solution for its publishers, brand and agencies to manage ad campaigns.
                    </p>
                        </div>
                        <div class="col-md-4">
                        <h5 class="mt-4">The Team &amp; Timeframe</h5>
                        <p>The project timeframe was 3 week sprint and we worked with a team of three:</p>
                    <ul>
            <li>Jaylon Ballard, UX Researcher</li>
            <li>Robert Harris, Information Architect</li>
            <li>Meagan Crowe, Visual Designer</li>
                        </ul>
                     
                    
                    </div>
                    <div class="col-md-4">
                        <h5 class="mt-4">Tools &amp; Methods Used</h5>            
                    <ul>
                            
                            <li>Competitive &amp; Comparative Analysis</li><li> Miro</li><li> Figma</li><li>Adobe CC</li>
                    </ul>
                    
                    </div>
                    </div>
            </div>
        
    </section>
    <section>
            <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4"></div>
            <div class="col-xl-4">
            <h5 class="mt-5 mb-3">Problem</h5>
            <h2>Fade Technology Solutions Needs a Dashboard</h2>
            <p>
                Fade Technology needs a dashboard for their application so that its publishers, brands, agencies and administrators can manage users and ad campaigns for its clients. 
                </p>	
            </div>	
            <div class="col-xl-4"></div>
            </div>
            </div>
        </section>	
            
        <section>
            <div class="container-md px-0">
                <div class="row">
                    <div class="col-xl-4"></div>	
                <div class="col-xl-4">
                    <h5 class="mt-5 mb-3">Solution Overview</h5>
                <h2 class="mb-2">How might we...?</h2>
                <p class="mb-2">How might we design a dashboard that allows managment of campaigns, users and assets for Fade Technology Solutions's admins, publishers, agencies and brands? We believe that by creating a centralized hub for clients to manage their
                accounts, users will be able to check on their statistics efficiently. We believe
                this because, through market research, we have found the standard for business
                management dashboards. We will know this is true when clients have a high
                success rate on tasks needed to be accomplished..
            </p>
            
                </div>
                <div class="col-xl-4"></div>
                </div>
                <div class="row">
                    <div class="col-xl-4"></div>
                <div class="col-xl-4">
                    <div class="imagebox">
                        <img src="img/FadeinIpad.png" class="img-fluid img-thumbnail">
                    </div>
            
                </div>
                <div class="col-xl-4"></div>
                </div>
                
            </div>
        </section>
            
        <section>
            <div class="container-md px-0">
                <div class="row">
                    <div class="col-xl-4">
    
                    </div>
                <div class="col-xl-4">
                        <h5 class="mt-5 mb-3">Approach</h5>
                    <h2 class="mb-1">Begin with the Project Brief</h2>
                <p class="mb-3">
            The Fade executives and techs came to us with a detailed project brief, inclding how their system worked for publishers, agencies, brands and admins and examples of Facebook Business Suite and Snapchat's Business dashboard. We did not have access to user info, nor could we interview users since their users are their business clients.</p>
            <p class="mb-3">
            We were forced to rely on the project brief and competitive analysis and comparative analysis to inform our final design decisions.</p>
    
                </div>
            <div class="col-xl-4">
                        
                    </div>	
                </div>
                
            </div>
        </section>	
            
        <section>
            <div class="container-md px-0">
                <div class="row">
                    <div class="col-xl-4"></div>
                <div class="col-xl-4">
                    <h5 class="mt-5 mb-3">Activities & Deliverables</h5>
                    <h2 class="mb-1">Read and Understand the Brief</h2>
                    <p class="mb-3">Fade did part of our Double Diamond work for us and we just needed to build on what they provided and begin sketches and low-fidelity wireframing based on the examples.</p>
                    <h4>Design Studio Work</h4>
                    <img src="img/designstudio.png" class="img-fluid mt-5 mb-5">
                </div>
                <div class="col-xl-4"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="container-md px-0">
                <div class="row">
                    <div class="col-xl-4"></div>
                <div class="col-xl-4"><h4 class="mb-3">Initial Sketches</h4>
                    </div>
                <div class="col-xl-4"></div>
                </div>
                <div class="col-xl-12">
                    <img src="img/SketchesCollection.png" class="img-fluid mb-5 mt-5"></div>
                
                    
                    
            </div>
        </section>
                
    <section>
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <h4 class="mt-4 mb-4">Persona</h4>
            <h2 class="mb-2">Advanced, Tech Savvy User</h2>
            <p class="mb-5">The primary user for the platform, and most important, is the Account Adminsitrator. He/she is very tech savvy and will be the go to person for all things platform related. Publishers, users, brands and agencies will be their user base.</p>
            <img src="img/fadepersona.png" class="img-fluid img-thumbnail">	</div>
            <div class="col-xl-4"></div>
            </div>
            
        </div>
    </section>	
            
    <section>
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4"></div>
                <div class="col-xl-4">
                <h4 class="mt-4 mb-4">Journey Map</h4>
                <h2 class="mb-2">Prospective Journey Map </h2>
                
                <p class="mb-5">Here we map the journey of the Account Adminsitrator as he/she interacts with the proposed solution.</p>	
                <img src="img/FadeJourneyMap.png" class="img-fluid img-thumbnail">	
                </div>
                <div class="col-xl-4"></div>
            </div>
        </div>
    </section>		
    <section>
        <div class="container-md px-0">
        <div class="row">
            <div class="col-xl-4"></div>
                <div class="col-xl-4">
            <h3 class="mt-4 mb-4">Research</h3>
    
                    <h4>1. Competitive Analysis</h4>
                    <p>Campaign managment solutions and administrative dashboards are nothing new. Many companies, such as Amazon, YouTube and Facebook alll have those solutions for their business users. We simply looked at those properties and features and applied it to Fades project brief. </p>
                    <p>Fades business model is an advertiser driven model, like Facebook and Youtube, so we focused heavily on their layout and UI components including analytics. Fade has no direct competitors based on their unique offering.</p>
                    <h6>Observations:</h6>
                    <ul>
                    <li>Dashboards all have analytics and charts and features to maipulate the data.</li>
                    <li>There are access and privilege levels assigned to users including who has administrative rights.</li>
                    <li>Administrators invite users to the platform.</li>
                    <li>Security protocols are put in place to prevent unauthorized access of the platform.</li>
                    <li>Campaign management features such as 'Create a Campaign', 'Start/Stop a Campaign'.</li>	
                    </ul>
                        </div>
                        <div class="col-xl-4"></div>	
    </div>	
        </div>
        
    </section>
    <section>
    <div class="container-md px-0">
    
        <div class="row">
            <div class="col-xl-4"></div>
                <div class="col-xl-4">
                    <h4>2. Comparative Analysis</h4>
                    <div class="headerbox">
                        <h2>Fade's Proposition is a Unique Technology</h2>
                    </div>
                <p>Fades proposition is a unique technology and although there are similarites in the online ad space they do not have a direct competitor. We next looked at Amazon's Seller Central's dashboard. Their business model is not an advertishing based model but there are similarities in their solutions. This was to gather more data on how these solutions are designed, and to get more inspiration.</p>
                </div>
                
                <div class="col-xl-4"></div>
            </div>
    </div>
    
    </section>	
                
    <section>
    <div class="container-md px-0">
    
        <div class="row">
            <div class="col-xl-4"></div>
    <div class="col-xl-4">
                <h5 class="mt-5 mb-3">Design</h5>
                <h2>Dashboards Are Dynamic</h2>
                <p>Due to the dynamic nature of this platform many site maps were created to show what pages each user would see. Our design had to account for that and the following images will show the maps. Here is the information architecture that we came up with.</p>
                <h4 class="mt-3">Site Maps</h4>
                
                    <img src="img/publishers.png" class="img-fluid border rounded mb-5 mt-5">
                    
                        <img src="img/brands.png" class="img-fluid border rounded mb-5 mt-5">	
                    
                    
                    <img src="img/agency.png" class="img-fluid border rounded mb-5 mt-5">	
                
            
                    <img src="img/fadeadmin.png" class="img-fluid border rounded mb-5 mt-5">	
            
            </div>	
            <div class="col-xl-4"></div>
        </div>
            
            </div>
        
            </div>	
    </div>
    
    </section>
        
    <section>
    <div class="container-md px-0">
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <h4 class="mt-4 mb-3">User Flows</h4>
                <h2 class="mb-1">The Happy Paths</h2>
                <p class="mb-5">Fades user flow was touched on earlier at the journey map but here is a bit more detail showing how users would navigate on the platform. We focused on the primary flow, which is 'Sign-up' for the platform.</p>
            
                    <img src="img/signupuserflow.jpg" class="img-fluid rounded border mb-5">
                    <p class="mb-5">Another flow that the user will take.</p>
                    
                    <img src="img/userflow.jpg" class="img-fluid rounded border mb-5"></div>
                <div class="col-xl-4"></div>
            </div>
            </div>
            </div>
            
                
            </div>
        </div>
    </div>
    
    </section>	
            
    <section>
    <div class="container-md px-0">
    <div class="row">
        <div class="col-xl-4"></div>
        
        <div class="col-xl-4">
            <h5 class="mt-5 mb-3">Visual Design</h5>
            <h2 class="mt-3">Simple and Intuitive Dashboard</h2>
            <p>A simple and intuitive dashboard with all of the minimal features that Fade needs for its clients. These are the final design that the team and I came up with for Fade's dashboard. Desktop was primary so we did not design a mobile solution </p>
            <div class="col-lg-12 mt-5 text-center d-flex">
                <div style="margin:0 auto;">
                <img src="img/fadefinal.png" class="img-fluid rounded border">
                </div>
            </div>
        </div>
        <div class="col-xl-4"></div>
    </div>
        
    
    </div>
    </section>		
    <section class="pb-5">
        <div class="container-md px-0">
    <div class="row">
        <div class="col-xl-4"></div>
            <div class="col-xl-4 mt-5">
        <h5 class="mt-5 mb-3">Results & Reflections</h5>
        
            <h2>Dashboards Are a Challenge</h2>
        
        
        
        <p class="mb-2">Dashboards are a challenging design to take on with many moving parts. This was in many ways a vey challenging project for our team. We started off with no ability to research the user and had to rely on the project brief for all of our research. In many ways we had to abondone the normal UX steps and just work with what we had.</p>
        <p>It turned out that what we had was sufficient and we were able to design by looking at other dashboards and copying their architecture and layout and use Fades business goals and needs provided to us in the project brief.</p>
        
        </div>
        
        <div class="col-xl-4"></div>
        </div>
        
    
    </section>
            
    
    </main>