<main class="flex-shrink-0 text-dark">
    <section>
    <div class="container-md px-0">
    <div class="row">
    <div class="col-7">
        <div class="wineherohome">
                        <div class="hero-overlay">
                            <h1 class="mb-2">A Digital Wine Buying Experience</h1>
                        <h3>Explore the best digital wine buying <br>experience in Brooklyn.</h3>
                        
                        </div>
                    
        </div>
        </div>
        <div class="col-5"></div>
    </div>
    <img src="img/smallherowine.jpg" class="img-fluid">
    </div>
    
    </section>
            
    <section>
    <div class="container-md mt-3 px-0">
    <div class="row">
                    <div class="col-md-4">
                        <h5>Overview</h5>               
            <p class="mb-3">BK Wine Cellar is a local wine store in Brooklyn (BK) that does not have a well designed e-commerce website for its customers to be able to view its wine collection, and order wine for delivery.
                                    </p>
                    </div>
                <div class="col-md-4">
                <h5 class="mb-3">The Team &amp; Timeframe</h5>
                <p class="mb-3">
            Robert Harris is the UX Researcher, Information Architect, and Visual Designer. The project time frame was a 2 week sprint.
            </p>
            
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Tools &amp; Methods</h5>            
            <ul>
                    <li>
                        Closed card-sorting
                    </li>
                    <li>Contextual Inquiry </li><li>Competitive &amp; Comparative Analysis</li><li> Miro</li><li> Figma</li><li>Adobe CC</li>
            </ul>
            </div>	
            
            
            
                
    
            
                
            
            </div>
            
            </div>
            </div>
    </section>	
    <section>
    <div class="container-md px-0">
        <div class="row">
    <div class="col-xl-4">
    
    </div>
        
        <div class="col-xl-4">
            <h5 class="mt-5 mb-3">Problem</h5>
    <h2 class="mb-1">BK Wine Cellar's Needs a Well Designed Website</h2>
    <p>
            Local wine lovers want to be able to search the site – bkwinecellar.com - by region, categories and varietals so that they can easily find and purchase their favorite wine/s and have it delivered.
            </p>
                
        </div>
    <div class="col-xl-4">
        
    </div>	
        </div>
        
    </div>
    
    </section>
            
            
    <section>
    
    <div class="container-md px-0">
        <div class="row">
            <div class="col-xl-4">
        
            </div>
        <div class="col-xl-4">
    <h5 class="mt-5 mb-3">Solution Overview</h5>
    <h2 class="mb-2">How might we...?</h2>
        <p class="mb-2"><h6>How Wight We Design an E-Commerce Website for BK Wine Cellar's customer?</h6>The challenge was to design and build a user-centered website for BK Wine Cellar that organized the wines in proper categories and provided navigation and search for the user to be able to easily find and purchase wines and have them delivered.
            </p>
        </div>
        <div class="col">
        
        </div>
        </div>	
    </div>
                
    </section>	
    
    <section>
    <div class="container-md px-0">
        <div class="row">
                
            <div class="col-xl-4">
        
            </div>	
            <div class="col-xl-4 mt-5">
                <div class="imagebox">
                    <img src="img/winehomemockup.jpg" class="img-fluid rounded text-center">
                </div>
            
            </div>
            <div class="col-xl-4">
        
            </div>
            </div>
        
    </div>
    </section>
        
    <section>
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4">
        
                </div>	
                <div class="col-xl-4">
                    <h5 class="mt-5 mb-3">Approach</h5>
                <h2 class="mb-2">Let's Get Together and Order Wine</h2>
                <p class="mb-5">
                My journey of discovery began on Easter Sunday, April 2021, where I organized a dinner party with a group of women ranging in age from 30-45. My first insight was that all of the women ordered their wine form various local wine stores but all of them were order by their mobile phones. 
                I asked them about their experience with buying wine and how they normally go about the process. We talked about the the websites of local retailers and what they felt about the sites.</p>
                <img src="img/IMG_1111.jpeg" class="img-fluid img-thumbnail rounded">
                </div>
                <div class="col-xl-4">
        
                </div>
                </div>
            
        </div>
        </section>	
            
        
        <section>
            <div class="container-md px-0">
                <div class="row">
                    <div class="col-xl-4">
    
                    </div>
                    <div class="col-xl-4 mt-5">
    <h5 class="mt-5 mb-3">Activities & Deliverables</h5>
    <h2 class="mb-2">Research Architect, Design, and Iterate.</h2>
    <p>BK Wine Cellar's website solution will provide its customers with the ability to search the stores inventory, buy wine and have it delivered.</p>
                    </div>
    
                
                    <div class="col-xl-4">
                        
                    </div>
                
                
                
                
                </div>
            </div>
        </section>
        <section>
    <div class="container-md px-0">
        <div class="row">
            <div class="col-xl-4">
        
            </div>
                <div class="col-xl-4">
                <h3 class="mt-5 mb-4">Persona</h3>
                
                <h2 class="mb-2">Wants to Order Wine Online and Have it Delivered</h2>
                <p class="mb-5">Our user is the busy urban professional woman. She may work long hours and does not want to have to stop at a wine store to buy and pick up wine. She is tech savvy and has become accustomed to buying via app or website and having everything delivered.</p>
                <div class="imagebox">
                    <img src="img/BKWinePersona.jpg" class="img-fluid img-thumbnail">	
                </div>
                
            </div>
            <div class="col-xl-4">
        
            </div>
                </div>
    </div>
    
        </section>	
            
        
        <section>
    <div class="container-md px-0">
    <div class="row">
        <div class="col-xl-4">
        
        </div>
                    <div class="col-xl-4">
                    
                    <h3 class="mt-5 mb-4">Research</h3>
                <h4 class="mb-4">1. Contextual Inquiry and User Interviews</h4>
                <p class="mb-3">By observing the participants within the context of buying win, within a real world scenario, I was able to question and observe how they order wine and why they use the method that they use - mobile phone. As people arrived over the 5 or 6 hours that we were gathered we talked about their favorite local wine stores, how often they ordered wine and their sites and apps.</p>
                <h4 class="mb-3">Observations:</h4>
                <ul class="mb-4">
                <li>Accounts set up with their favorite local wine stores.</li>
                <li>Delivery was prefered method of getting wine.</li>
                <li>Site content was organized and searchable for users/customers.</li>
                </ul>
                <h4 class="mb-3">2. Competitive Analysis</h4>
                        
                            <h2>Competitors Have Great Sites</h2>
                            
                        
                    <p>BK Wine Cellars's local competitors all have very well designed websites that offer customers the ability to search for wine, buy the wine via all payment methods and have the wine delivered to an address withing the delivery zone.</p>
                </ul>
                    
                        
                    </div>
                    <div class="col-xl-4">
        
                    </div>
    </div>
    </div>
    
    </section>
    <section>
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4">
        
                </div>	
                <div class="col-xl-4 mt-4">
    <h4 class="mb-3">3. Closed Card-Sorting</h4>
    <h2 class="mb-2">Tell Us How To Architect</h2>
    <p class="mb-5">The closed card-sort gave me insights on how the navigation should be organized. I gave  users specific categories to place the 75 inventory items into. I designed our navigation, search filters and pages from these insights. The choice of using a closed sort was to limit the categories to how wines are grouped in the industry by professionals.
    </p>		
                </div>
    
                <div class="col-xl-4">
        
                </div>
    </div>
    
    <div class="row">
            <div class="col">
                <img src="img/DanielleT.jpg" class="img-fluid img-thumbnail">
            </div>
            <div class="col">
                    <img src="img/Chanel.jpg" class="img-fluid img-thumbnail">
            </div>
            <div class="col">
                    <img src="img/Malikka.jpg" class="img-fluid img-thumbnail">
            </div>
            <div class="col">
                        <img src="img/FarrahD.jpg" class="img-fluid img-thumbnail">
            </div>
                
                
                    
                    
            
                </div>
            
                
    </div>
    
            
    
    
    </section>			
                    
    <section>
                    <div class="container-md px-0">
                        <div class="row">
                    
                            <div class="col-xl-4">
        
                            </div>
                
                <div class="col-xl-4 mt-5">
                    <h5 class="mt-5 mb-3">Design</h5>	
                    <h2>Design for Search, Navigation, Checkout and Delivery</h2></div>
                    <div class="col-xl-4">
        
                    </div>
                </div>
                    </div>
    
    </section>
    <section>
        <div class="container-md px-0">
            <div class="row">
        
                <div class="col-xl-4">
        
                </div>
    
    <div class="col-xl-4 mt-4">
        <h4 class="mt-4 mb-3">Site Map</h4>
        <div class="imagebox">
            <img src="img/Sitemap.png" class="img-fluid img-thumbnail">
        </div>
        
    </div>
    <div class="col-xl-4">
        
    </div>
    </div>
        </div>
    
    </section>	
    
    <section>
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4">
        
                </div>
    
    
    <div class="col-xl-4 mt-4">
        <h4 class="mt-5 mb-3">User Flow</h4>
        <p class="mb-2">I created a user flow that expects to be able to search and/or go directly to the wine varietals, regions and coutries that the customer is looking for. If a user is signed up he/she can see the wines that they bought and repurchase it/them. </p>
                    <p class="mb-5">No matter what choice the user makes, they will be able now check out and complete their purchase online and select delivery to a selected address.</p>
                    <div class="imagebox">
                    <img src="img/Flowchart.png" class="img-fluid img-thumbnail">	
                    </div>
                    
    </div>
    <div class="col-xl-4">
        
    </div>
    </div>
        </div>
    
    </section>
        
    
    <section>
        <div class="container-md px-0">
            <div class="row">
        
                <div class="col-xl-4">
        
                </div>
    
    <div class="col-xl-4">
        <h5 class="mt-5 mb-3">Visual Design</h5>
    </div>
    <div class="col-xl-4">
        
    </div>
    </div>
        </div>
    
    </section>
    <section>
        <div class="container-md px-0">
            <div class="row">
        
                <div class="col-xl-4">
        
                </div>
    
    <div class="col-xl-4 ">
        <h2 class="mt-4 mb-4">Design System</h2>
        <p class="mb-2">I have incorporated Bootstrap 4/5's design system into my project and modified some of it UI elements. I also created some of my own UI elements for this system.</p>
        <h3 class="mb-3">Typography</h3>
        <img src="img/typography3.jpg" class="img-fluid border rounded mb-5">
        <h2 class="mt-5 mb-2">Great Wine Buying User Experience</h2>
        <p class="mb-2">The visual design incoporates all of the UI elements and functionality found in other e-commerce wine sites. I have incorporated search and faceted search to help users select wine by ratings, price, region and country.</p>
                        <p class="mb-2">The solution is visually appealing as I chose colors and typography that appealed to food and wine buyers and add elegance to the experience.</p>
                        <p class="mb-2">Consumers can easily navigate the site and find the category of wine that they are looking for, add it to their shopping cart, pay for it, and select an address for delivery.</p>
                        <img src="img/bkwinesite.png" class="img-fluid img-thumbnail mb-5 border">
                        <img src="img/checkout.png" class="img-fluid img-thumbnail mb-5 border">
    </div>
    <div class="col-xl-4">
        
    </div>
    </div>
        </div>
    
    </section>
    <section class="pb-5">
        <div class="container-md px-0">
            <div class="row">
                <div class="col-xl-4">
        
                </div>
                <div class="col-xl-4">
                    <h5 class="mt-5 mb-3">Results & Reflections</h5>
            </div>
            <div class="col-xl-4">
    
            </div>
    </div>
            <div class="row">
                <div class="col-xl-4">
        
                </div>
    
    
    <div class="col-xl-4">
        <h2 class="mb-2">Great MVP; Will Continuing to Iterate on the Design</h2>
        <p class="mb-2">I have been able to get this project off to a great start towards getting BK Wine Cellar first design iterations completed. The initial problem has been identified and I am addressing it.</p>
                <p>I am continuing to work on the visual design. I am working to improve the colors and typography into a more elegant experience.</p>
    </div>
    <div class="col-xl-4">
    
    </div>
    </div>
        </div>
    
    </section>
    
    </div>
                
            </div>
        </div>	
    </main>
