html, body{
  min-height:100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(252,0,0);
background: linear-gradient(133deg, rgba(252,0,0,0.7273503151260504) 0%, rgba(246,246,246,1) 8%, rgba(240,240,240,1) 100%);
background-repeat:no-repeat;
background-size: cover;
background-color:transparent!important;
min-height:100%;
}
.MuiBottomNavigation-root{
background-color:transparent;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
